# === Datasets and temporary data ===
dataset/
yolo_dataset/
yolo_logs/train_erf/
Phase3_RGB_Crops/
# === Checkpoints and weights ===
*.zip

# === Logs ===

# === Notebooks ===
.ipynb_checkpoints/

# === Python ===
__pycache__/
*.py[cod]

# === OS/editor trash ===
.DS_Store
*.swp
